<!-- <ion-content class="utilities-page">  
  <div class="flex" >
  <ion-card-header >
    <ion-row class="row">
    <a routerLink="/home">
      <img src="assets/back.png" class="back_icon2">
    </a>
  <h2 class="head2">  Stores</h2>
  </ion-row>
  </ion-card-header>
    <ion-content >    
<table>
  <tr>
    <td colspan="4"> <p class="header2">Shop by Category</p></td>
  </tr>
  <tr class="row">
    <td colspan="4"> <p class="header2">Fashion</p></td>
  </tr>
  <tr class="row">
    <td colspan="4"> <p class="header2">Electonics</p></td>
  </tr>
  <tr class="row">
    <td colspan="4"> <p class="header2">E-Commerce</p></td>
  </tr>
</table>
</ion-content>
</div>
</ion-content> -->
<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">This is the menu content.</ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    Tap the button in the toolbar to open the menu.
  </ion-content>
</div>