<ion-content class="utilities-page">  
  <div class="flex" >
  <ion-card-header >
    <ion-row class="row">
      <a routerLink="/home">
        <img src="assets/back.png" class="back_icon2">
      </a>
      <div class="Utilities">
    <h2 class="head2">Utilities</h2>
    </div>
    </ion-row>
  </ion-card-header>
    <ion-content >  
      <div style="overflow-x: auto;">  
        <table>
          <tr><td colspan="4"> <img src="assets/icon/Rectangle 213.png" class="imgrect"></td></tr>

          <tr class="row">
            <td colspan="4"> <p class="headeru">Recharges & Bills</p></td>
          </tr>
          <tr>
            <td>     
              <div class="icon2">
                <a routerLink="/mobile-login"><img src="assets/icon/Group 514.png" class="img">
                </a>
              </div>
              <br>
            </td>
            <td>
              <div class="icon2">
                <a routerLink="/mobile-login">
                  <img src="assets/icon/Rectangle.png" class="img1">
                </a>
              </div>
            <br></td>
            <td>
              <div class="icon2">
                <a routerLink="/mobile-login">
                  <img src="assets/icon/Group 515.png" class="img">
                </a>
              </div>
            <br></td>
            <td>
              <div class="icon2">
                <a routerLink="/mobile-login">
                  <img src="assets/icon/Group 519.png" class="img">
                </a>
              </div>
            <br></td>
          </tr>
          <tr class="row">
            <td><h6 class="icon-name">Mobile <br>Recharge</h6></td>
            <td><h6 class="icon-name">FASTang<br> Recharge</h6></td>  
            <td><h6 class="icon-name">DTH</h6></td>
            <td><h6 class="icon-name">Cable TV</h6></td>  
          </tr>
          <tr>
            <td colspan="4"> <p class="headeru">Utilities</p></td>
          </tr>
          <tr >
            <td>     
              <div class="icon2">
                <a routerLink="/mobile-login"><img src="assets/icon/Group 511.png" class="img">
                </a>
              </div>
              <br>
            </td>
            <td>
              <div class="icon2">
                <a routerLink="/mobile-login">
                  <img src="assets/icon/Group 520.png" class="img">
                </a>
              </div>
            <br></td>
            <td>
              <div class="icon2">
                <a routerLink="/mobile-login">
                  <img src="assets/icon/Group 518.png" class="img">
                </a>
              </div>
            <br></td>
            <td>
              <div class="icon2">
                <a routerLink="/mobile-login">
                  <img src="assets/icon/Group 516.png" class="img">
                </a>
              </div>
            <br></td>
          </tr>
          <tr>
            <td>     
              <div class="icon2">
                <a routerLink="/mobile-login"><img src="assets/icon/Group 517.png" class="img">
                </a>
              </div>
              <br>
            </td>
            <td>
              <div class="icon2">
                <a routerLink="/mobile-login">
                  <img src="assets/icon/Group 521.png" class="img">
                </a>
              </div>
            <br></td>
            <td>
              <div class="icon2">
                <a routerLink="/mobile-login">
                  <img src="assets/icon/Group 522.png" class="img">
                </a>
              </div>
            <br></td>
            <td>
              <div class="icon2">
                <a routerLink="/mobile-login">
                  <img src="assets/icon/Group 523.png" class="img">
                </a>
              </div>
            <br></td>
          </tr>
          <tr class="row">
            <td colspan="4"> <p class="headeru">More service</p></td>
          </tr>
          <tr >
            <td>
              <div class="icon2">
                <a routerLink="/mobile-login">
                  <img src="assets/icon/services/Group 524.png" class="img">
                </a>
              </div>
            <br></td>
            <td>     
              <div class="icon2">
                <a routerLink="/mobile-login"><img src="assets/icon/services/Group 525.png" class="img">
                </a>
              </div>
              <br>
            </td>
            <td>     
              <div class="icon2">
                <a routerLink="/mobile-login"><img src="assets/icon/services/Group 513.png" class="img">
                </a>
              </div>
              <br>
            </td>
            <td>
              <div class="icon2">
                <a routerLink="/mobile-login">
                  <img src="assets/icon/services/Group 526.png" class="img">
                </a>
              </div>
            <br></td>
          </tr>
          <tr>
            <td>     
              <div class="icon2">
                <a routerLink="/mobile-login"><img src="assets/icon/Group 527.png" class="img">
                </a>
              </div>
              <br>
            </td>
            <td>
              <div class="icon2">
                <a routerLink="/mobile-login">
                  <img src="assets/icon/services/Group 528.png" class="img">
                </a>
              </div>
            <br></td>
            <td>
              <div class="icon2">
                <a routerLink="/mobile-login">
                  <img src="assets/icon/services/Group 529.png" class="img">
                </a>
              </div>
            <br></td>
            
          </tr>
        </table>
      </div>
</ion-content>
</div>
</ion-content>
