<ion-content>
  <div class="pay1">
    <ion-grid>
      <ion-card-header>
        <ion-row class="row">
          <a routerLink="/paymenthistory">
            <img src="assets/back.png" alt="back_icon2" />
          </a>
          <div class="parent">
            <div class="moneytowallet">Send Money From Wallet to Bank</div>
            <div class="dashbacktosaving">
              Send money from your DashBack wallet to your savings account.
            </div>
          </div>
        </ion-row>
      </ion-card-header>
    </ion-grid>
  </div>

  <div class="inputbox">
    <ion-col size="12">
      <input
        type="tel"
        class="custom-input-field"
        placeholder="₹100"
        required
      />
    </ion-col>
  </div>

  <ion-button
    routerLink="/fastagpage2"
    class="long-btn"
    shape="round"
    size="small"
    (click)="onClick($event)"
    >Proceed</ion-button
  >
</ion-content>
