<ion-content>
  <div class="payment">
    <ion-grid>
      <ion-card-header>
        <ion-row class="row">
          <a routerLink="/home">
            <img src="assets/back.png" alt="back_icon2" />
          </a>
          <span class="Transaction">Transaction History</span>
        </ion-row>
      </ion-card-header>
      <!-- <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
        <ion-item >
          <ion-input formControlName="serachPayment" type="text" name="password" required></ion-input>
        </ion-item>

      </form> -->

      <ion-list lines="none">
        <ion-item>
          <ion-avatar slot="start">
            <img
              src="../../../assets/Ellipse 37.svg"
              class="person1"
              routerLink="/pay2"
            />
          </ion-avatar>
          <ion-label class="a" routerLink="/pay2">
            <h3>Paid to Suryansh</h3>
            <p>Yesterday 6:30</p>
          </ion-label>
          <ion-col routerLink="/pay2" class="f2">-₹20</ion-col>
        </ion-item>
        <br />
        <br />
        <ion-item>
          <ion-avatar slot="start">
            <img
              src="../../../assets/Ellipse 1.svg"
              class="person1"
              routerLink="/pay1"
            />
          </ion-avatar>
          <ion-label class="a" routerLink="/pay1">
            <h3>Paid to Suryansh</h3>
            <p>Yesterday 6:30</p>
          </ion-label>
          <ion-col routerLink="/pay1" class="f1">+₹2000</ion-col>
        </ion-item>
        <br />
        <br />

        <ion-item>
          <ion-avatar slot="start" routerLink="/pay2">
            <img
              src="../../../assets/Ellipse 2.svg"
              class="person1"
              routerLink="/pay2"
            />
          </ion-avatar>
          <ion-label class="a" routerLink="/pay2">
            <h3>Paid to Suryansh</h3>
            <p>Yesterday 6:30</p>
          </ion-label>
          <ion-col routerLink="/pay2" class="f2">-₹2000</ion-col>
        </ion-item>
        <br />
        <br />

        <ion-item>
          <ion-avatar slot="start">
            <img
              src="../../../assets/Ellipse 3.svg"
              class="person1"
              routerLink="/pay2"
            />
          </ion-avatar>
          <ion-label class="a" routerLink="/pay2">
            <h3>Paid to Suryansh</h3>
            <p>Yesterday 6:30</p>
          </ion-label>
          <ion-col routerLink="/pay2" class="f2">-₹20</ion-col>
        </ion-item>
        <br />
        <br />

        <ion-item>
          <ion-avatar slot="start" routerLink="/pay1">
            <img
              src="../../../assets/Ellipse 4.svg"
              class="person1"
              routerLink="/pay1"
            />
          </ion-avatar>
          <ion-label class="a" routerLink="/pay1">
            <h3>Paid to Suryansh</h3>
            <p>Yesterday 6:30</p>
          </ion-label>
          <ion-col routerLink="/pay1" class="f1">+₹500</ion-col>
        </ion-item>
        <br />
        <br />

        <ion-item>
          <ion-avatar slot="start" routerLink="/pay2">
            <img
              src="../../../assets/Ellipse 5.svg"
              class="person1"
              routerLink="/pay2"
            />
          </ion-avatar>
          <ion-label class="a" routerLink="/pay2">
            <h3>Paid to Suryansh</h3>
            <p>Yesterday 6:30</p>
          </ion-label>
          <ion-col routerLink="/pay2" class="f2">-₹20</ion-col>
        </ion-item>
        <br />
        <br />

        <ion-item>
          <ion-avatar slot="start">
            <img
              src="../../../assets/Ellipse 6.svg"
              class="person1"
              routerLink="/pay2"
            />
          </ion-avatar>
          <ion-label class="a" routerLink="/pay2">
            <h3>Paid to Suryansh</h3>
            <p>Yesterday 6:30</p>
          </ion-label>
          <ion-col routerLink="/pay2" class="f2">-₹20</ion-col>
        </ion-item>
      </ion-list>
    </ion-grid>
  </div>
</ion-content>
