<ion-content>
  <div class="pay1">
    <ion-grid>
      <ion-card-header>
        <ion-row class="row">
          <a routerLink="/paymenthistory">
            <img src="assets/back.png" alt="back_icon2" />
          </a>
          <span class="Transfer">Pay Money</span>
        </ion-row>
      </ion-card-header>
    </ion-grid>
  </div>
</ion-content>
  <div class="inputbox">
    <ion-col size="12">
      <input
        type="tel"
        class="custom-input-field"
        placeholder="₹50.00"
        required
      />
    </ion-col>
  </div>
  <div class="NumericBackground">
    <button (click)="clickThree()" block class="iconbtn">
      <img src="../../../assets/PayMoney/one.svg" class="btn" />
    </button>

    <button (click)="clickThree()" block class="iconbtn">
      <img src="../../../assets/PayMoney/two.svg" class="btn2" />
    </button>

    <button (click)="clickThree()" block class="iconbtn">
      <img src="../../../assets/PayMoney/three.svg" class="btn3" />
    </button>
    <br />
    <button (click)="clickThree()" block class="iconbtn">
      <img src="../../../assets/PayMoney/four.svg" class="btn3" />
    </button>

    <button (click)="clickThree()" block class="iconbtn">
      <img src="../../../assets/PayMoney/five.svg" class="btn3" />
    </button>

    <button (click)="clickThree()" block class="iconbtn">
      <img src="../../../assets/PayMoney/six.svg" class="btn3" />
    </button>
    <br />
    <button (click)="clickThree()" block class="iconbtn">
      <img src="../../../assets/PayMoney/seven.svg" class="btn3" />
    </button>

    <button (click)="clickThree()" block class="iconbtn">
      <img src="../../../assets/PayMoney/eight.svg" class="btn3" />
    </button>

    <button (click)="clickThree()" block class="iconbtn">
      <img src="../../../assets/PayMoney/nine.svg" class="btn3" />
    </button>
    <br />

    <button (click)="clickThree()" block class="iconbtn">
      <img src="../../../assets/PayMoney/dot.svg" class="btn3" />
    </button>

    <button (click)="clickThree()" block class="iconbtn">
      <img src="../../../assets/PayMoney/zero.svg" class="btn3" />
    </button>

    <button (click)="clickThree()" block class="iconbtn">
      <img src="../../../assets/PayMoney/back.svg" class="btn3" />
    </button>
    <br />

    <ion-button
      routerLink="/fastagpage2"
      class="long-btn"
      shape="round"
      size="small"
      (click)="onClick($event)"
      >Pay</ion-button
    >
  </div>

