.Paymoney {
  margin-left: 20vw;
  margin-top: 1vh !important;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 22px !important;

  //   min-height: 100px;
}
.pay1 {
  margin-top: 3vh;
}
