<ion-content>
  <div class="pay1">
    <ion-grid>
      <ion-card-header>
        <ion-row class="row">
          <a routerLink="/paymenthistory">
            <img src="assets/back.png" alt="back_icon2" />
          </a>
          <span class="Transfer">Pay Money</span>
        </ion-row>
      </ion-card-header>
    </ion-grid>
  </div>
  <!-- <img class="leftarrow" src="../../../assets/PayMoney/leftarrow.svg" alt=""> -->
 <div class="inputbox">
  <ion-col >
    <input
      type="tel"
      class="custom-input-field"
      placeholder="₹50"
      required
    />
  </ion-col>
</div>

    <ion-button
      routerLink="/fastagpage2"
      class="long-btn"
      shape="round"
      size="small"
      (click)="onClick($event)"
      >Pay</ion-button
    >
</ion-content>
  

