.PayMoney {
    margin-left: 27vw;
    margin-top: 1vh !important;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 22px !important;
    color: white;
  
    //   min-height: 100px;
  }
  
  .pay1 {
    margin-top: 4vh;
    margin-left: 5vw;
  }
  ion-content {
    --ion-background-color: #09376e;
  }
  .parent {
    height: 81vh;
    width: auto;
    margin-top: 5vh;
    background-color: white;
    border-radius: 3%;
  }
  .circle {
    margin-left: 40vw;
    margin-top: 4vh;
  }
  .RC{
      position: absolute;
      margin-left: 43vw;
      margin-top: -7vh;
      color: white;
      font-weight: bold;
      font-size: xx-large;
  }
  .name {
    margin-left: 35vw;
    margin-top: 2vh;
    font-weight: 600;
    font-size: 15px !important;
  }
  .upiId {
    margin-left: 28vw;
  }
  // .child {
  //   height: 58vh;
  //   margin: 2vh 5vw 0vh 5vw;
  //   border-style: dashed;
  // }
  .youarepaying {
    margin-left: 33vw;
    font-weight: 600;
    font-size: 15px !important;
    margin-top: 2vh;
  }
  .custom-input-field {
    background-color: white;
    font-weight: bolder;
    text-align: center;
    font-size: 6vh;
    border-color: #d4d4d4;
    margin-right: 10vw;
    padding: 15px 15px 15px 15px;
  }
  
  .inputbox {
    text-align: center;
    margin-top: 1.9vh;
  
    ::placeholder {
      color: #09376e;
    }
    margin-right: 5vw;
    margin-left: 3vw;
  }
  .messageforraj {
    margin-top: 1vh;
    margin-left: 35vw;
    font-weight: bold;
    color: #9e9e9e;
  }
  .smallbutton {
    margin-left: 3vw;
    font-weight: 500;
    font-style: italic;
    background-color: #e8f2ff;
    margin-right: 10px;
    color: black;
  }
  .smallbtn {
    margin-left: 7vw;
    margin-top: 2vh;
    font-weight: bold;
  }
  ion-card {
      margin-top: 15vh;
    height: 17vh;
    background-color: white;
  }
  .dbimage {
    margin-left: 4vw;
    margin-top: 2vh;
  }
  .info {
    margin-top: -50px;
    margin-left: 20vw;
    font-weight: 600;
    font-size: larger;
    color: #09376e;
  }
  .dbwallet {
    margin-left: 20vw;
    font-weight: 600;
    font-size: large;
    color: black;
  }
  .availablebalance {
    margin-left: 20vw;
    font-weight: 400;
    color: black;
  }
  