.Transfer {
  margin-left: 30px !important;
  margin-top: 1vh !important;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 22px !important;

  //   min-height: 100px;
}
.pay1 {
  margin-top: 3vh;
}
.inputbox1 {
  text-align: center;
  margin-top: 1.9vh;

  padding-left: 20px;
  padding-right: 40px;
  text-align: left;
}
.inputbox2 {
    text-align: center;
    margin-top: 1.9vh;
    padding-left: 20px;
    padding-right: 40px;
    text-align: left;
    
  }
.custom-input-field {
  background-color: #e8ecf4;
  font-weight: 400;
  text-align: center;
  font-size: 14px;
  border-color: #d4d4d4;
  text-align: start;
}
ion-button {
    margin-left: 2vw;
    padding-left: 10vw;
    margin-top: 4vh;
    padding-right: 13vw;
  }
