<ion-content>
  <div class="pay1">
    <ion-grid>
      <ion-card-header>
        <ion-row class="row">
          <a routerLink="/paymenthistory">
            <img src="assets/back.png" alt="back_icon2" />
          </a>
        </ion-row>
        <div class="parent">
          <div class="walletpage2">Select a Saved Bank Account</div>
        </div>
      </ion-card-header>
    </ion-grid>
  </div>

  <div class="parentclass">
    <div class="image">
      <img
        src="../../../../assets/wallet/page2/walletpage2roundimage.svg"
        class="round"
      />
      <div class="image2">
        <img src="../../../../assets/wallet/page2/cnrb.svg" alt="" />
      </div>
    </div>
    <ion-label class="a" routerLink="/pay1">
      <h3>Raj Chauhan</h3>
      <p>A/C No. XX XX 3269</p>
    </ion-label>

    <div class="image">
      <img
        src="../../../../assets/wallet/page2/walletpage2roundimage.svg"
        class="round"
      />
      <div class="image2">
        <img src="../../../../assets/wallet/page2/cnrb.svg" alt="" />
      </div>
    </div>
    <ion-label class="a" routerLink="/pay1">
      <h3>Rishi Yadav</h3>
      <p>A/C No. XX XX 3265</p>
    </ion-label>
  </div>

  <ion-chip shape="round" routerLink="/wallet/page3">+</ion-chip>
</ion-content>
