<ion-content>
  <div class="pay1">
    <ion-grid>
      <ion-card-header>
        <ion-row class="row">
          <a routerLink="/paymenthistory">
            <img src="assets/back.png" alt="back_icon2" />
          </a>
          <span class="Transfer">Transfer Reciept</span>
        </ion-row>
      </ion-card-header>
    </ion-grid>
  </div>
  <ion-row>
    <div class="parent">
      <div class="part1">
        <img
          class="part2"
          src="../../../../assets/wallet/tsuccess/blanks.svg"
        />
      </div>

      <div class="successfull">
        <img
          src="../../../../assets/wallet/tsuccess/transactionsuccessfull.svg"
          alt=""
        />
      </div>
      <div class="tsuccess">Transfer Success</div>
      <div class="inputbox">
        <ion-col size="12">
          <input type="tel" class="custom-input-field" placeholder="₹130.00" />
        </ion-col>
      </div>
      <div class="parentclass">
        Money has been successfully transfered 
        
      </div>
      <div class="childclass">
        to your Bank Account
      </div>
    </div>
  </ion-row>
  <div class="parent">
    <div class="transactionID">Transaction ID</div>
    <div class="amount">Amount</div>
    <div class="transactionnumber">11223344556677889911</div>
    <div class="cost">₹105</div>
  </div>

  <ion-button
  routerLink="/firstpayment"
  class="btnn"
  size="small"
  shape="round"
  fill="outline"
  >View Details</ion-button
>

  <ion-button
    routerLink="/wallet/terror"
    class="long-btn"
    shape="round"
    size="small"
    (click)="onClick($event)"
    >Done</ion-button
  >
</ion-content>
