.Transfer {
  margin-left: 30px !important;
  margin-top: 3.9vh !important;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 22px !important;
  color: white;
  //   min-height: 100px;
}
img {
  margin-top: 3vh !important;
}
ion-content {
  --ion-background-color: #09376e;
}
.pay {
  position: absolute;
  right: 0px;
  z-index: -1;
}
.payinfo {
  padding-top: 6vh;
  margin-left: 6vw;
}
.successblank {
  // position: relative;
  height: -70px;
  margin-top: -70px;
  top: -70px;
}
.part1 {
  margin-left: 5vw;
}
.part3 {
  position: relative;
  top: -30px;
  margin-top: -630px;
  margin-left: 35vw;
}
.Oops {
  font-size: 3vw;
  margin-left: 25vw;
  margin-top: 5px;
  font-weight: bold;
}
.error {
  border: 1px solid black;
  width: 200px;
  text-align: justify;
  margin-left: 90px;
  font-size: 12px;
}
.successfully1 {
  padding-left: 50px;
  font-size: 12px;
  margin-top: -15px;
  margin-left: 130px;
}
ion-button {
  margin-left: 19vw;
  padding-left: 10vw;
  padding-right: 50vw;
  margin-top: 3vh;
  font-size: 13px;
  
}
.child{
  margin-top: -50px;
  margin-left: 5vw;
}
.child1{
  margin-left: 5vw;

}

.order {
  font-size: 15px;
  margin-left: 70px;
  margin-top: 5px;
  font-weight: bold;
  margin-top: 90px;
}
.amount {
  font-size: 15px;
  margin-left: 170px;
  margin-top: 5px;
  font-weight: bold;
  margin-top: -18px;
}
.number {
  font-size: 15px;
  margin-left: 70px;
  margin-top: 5px;
}
.amountnumber {
  font-size: 15px;
  margin-left: 210px;
  margin-top: 5px;
  margin-top: -19px;
}
.safe {
  font-size: 12px;
  margin-left: 60px;
  margin-top: 20px;
  font-weight: bold;
}
.firstpara {
  margin-left: 20vw;
  margin-top: 4vh;
  font-size: 12px;
}
.secondpara {
  margin-left: 25vw;
  font-size: 12px;
}
.thirdpara {
  margin-left: 35vw;
  font-size: 12px;
}
.firstpart {
  margin-left: 28vw;
  margin-top: 5px;
  font-size: 10px;
}
.secondpart {
  margin-left: 28vw;
  margin-top: 0px;
  font-size: 10px;
}
.btnn {
  color: #09376e;
  font-weight: 550;
  margin-top: 3vh;
  margin-left: 26vw;
  position: absolute;
}


