.Transfer {
  margin-left: 50px !important;
  margin-top: 1vh !important;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 22px !important;
}
ion-textarea {
  border: hidden;
}
.FastagId{
  margin-left: 4vw;
}
.inputContent1{
  margin-top:0.5vh;
  padding-bottom: 1vh;
  padding-left: 5vw;
  padding-right: 1vw;
  color:#929292;
  font-size:3vw;
}
.straightline{
  margin-left: 1vw;
}
.input1 {
  background: #f7f8f9;
  border-radius: 1vw;
  margin-left: 5vw;
  margin-right: 8vw;
  margin-top: 2vh;
  height: 15vh;
}
.custom-input-field {
  background: #f7f8f9;
  width: 100%;
  border: 1px solid #e8ecf4;
  font-family: "Montserrat", sans-serif;
  border-radius: 2vw;
  color: #000;
  font-size: 4vw;
  height: 14vw;
  padding-left: 9vw;
  padding-right: 15vw;
}
.input {
  margin-left: 5vw;
  margin-right: 10vw;
}
.logo {
  margin-top: 5vh;
  margin-left: 7vw;
}
.para {
  align-items: center;
  margin-left: 14vw;
  // // padding: 2%;
  margin-right: 2vw;
  // // margin-bottom: 10vh;
  display: flex;

  align-items: center;
}
span {
  padding: 10px;
  margin-top: -50px;
}
ion-button {
  margin-left: 2vw;
  padding-left: 2vw;
  margin-top: 60vh;
  padding-right: 7vw;
}
.inputContent {
  padding-left: 2vw;
  margin-top: 0.5vh;
  padding-bottom: 3vh;
  padding-left: 6vw;
  padding-right: 1vw;
  //   color: #929292;
  font-size: 3vw;
}
.SubscriberId {
  margin-left: 2vw;
}
