<ion-content>
  <div class="pay1">
    <ion-grid>
      <ion-card-header>
        <ion-row class="row">
          <a routerLink="/cablepage2">
            <img src="assets/back.png" alt="back_icon2" />
          </a>
          <span class="Transfer">ACT TV</span>
        </ion-row>
      </ion-card-header>
    </ion-grid>
  </div>

  <div class="input1">
    <ion-input
      label="Solid input"
      class="FastagId"
      labelPlacement="stacked"
      type="input"
      placeholder="Vehicle Number"
      fill="solid"
    >
    </ion-input>
    <img
      class="straightline"
      src="../../../assets/Fastag/page1/Line 42.svg"
      alt=""
    />
    <h6 class="inputContent1">Please enter Valid Vehicle number</h6>
  </div>
  <ion-button
    class="long-btn"
    shape="round"
    size="small"
    (click)="onClick($event)"
    >Confirm</ion-button
  ><br />
</ion-content>
