.Transfer {
    margin-left: 30px !important;
    margin-top: 1vh !important;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 20px !important;
    color: white;

    //   min-height: 100px;
  }
.pay1{
    background-color: #F04B49;
}
.row{
    margin-top: 40px;
}
.transactionID{
    font-weight: 600;
    font-size:large;
    color: black;
    margin-top: 50px;
}
.transactionnumber{
    margin-top: 20px;
}
.copy{
    margin-left: 70vw;
    margin-top: -20px;
    color: black;
    font-weight: 600;
}
.recipientID{
    font-weight: 600;
    font-size:large;
    color: black;
}
.Axis{
    margin-top: 20px;
}
.accountnumber{
    margin-left: 60px;
    margin-top: -40px;
    font-weight: 600;
    color: black;
}
.cost{
    margin-left: 275px;
    margin-top: -15px;
    font-weight: 600;
    color: black;
}
.axisbank{
    margin-left: 60px;
    margin-top: 8px;
}
.parent1{
    margin-top: 50px;
}
.tryagain{
    margin-left: 240px;
    margin-top: 50px;
    color: #09376E;
    font-weight: 600;
}
.remaining{
    margin-left: 275px;
    margin-top: -12px;
    font-weight: 600;
    color: black;
}.parent2{
    margin-top: 50px;
}
ion-card{
    box-shadow:none;
}