<ion-content>
  <div class="pay1">
    <ion-grid>
      <ion-card-header>
        <ion-row class="row">
          <a routerLink="/paymenthistory">
            <img src="assets/back.png" alt="back_icon2" />
          </a>
          <span class="Transfer">Transaction Successfull</span>
        </ion-row>
      </ion-card-header>
    </ion-grid>
  </div>

  <ion-card>
    <ion-card-header>
      <div class="parent">
        <div class="transactionID">Transaction ID</div>
        <div class="transactionnumber">11223344556677889911</div>
        <div class="copy">Copy</div>
      </div>
    </ion-card-header>
  </ion-card>

  <ion-card class="parent1">
    <ion-card-header>
      <div class="parent">
        <div class="recipientID">Recipient ID</div>
        <img src="../../../assets/Payment/axis bank.svg" class="Axis" />
        <div class="accountnumber">XXXXXXXX9911</div>
        <div class="cost">2000</div>
        <div class="axisbank">Axis Bank</div>
        <div class="sendagain">Send Again</div>
      </div>
    </ion-card-header>
  </ion-card>

  <ion-card class="parent2">
    <ion-card-header>
      <div class="parent">
        <div class="recipientID">Debited From</div>
        <img src="../../../assets/Payment/axis bank.svg" class="Axis" />
        <div class="accountnumber">Axis Bank-3221</div>
        <div class="axisbank">UTR-332211122</div>
        <div class="remaining">130</div>
      </div>
    </ion-card-header>
  </ion-card>
</ion-content>
