<ion-content>
  <div class="pay1">
    <ion-grid>
      <ion-card-header>
        <ion-row class="row">
          <a routerLink="/paymenthistory">
            <img src="assets/back.png" alt="back_icon2" />
          </a>
          <div class="parent">
            <div class="walletpage4">Sending Money From Wallet to</div>
          </div>
        </ion-row>
      </ion-card-header>
    </ion-grid>
  </div>

 
  <div class="parent">
    <div class="Raj">Raj Chauhan</div>
    <div class="accountdetails">CANARA BANK A/C No. XX XX 3269</div>
    <div class="image">
      <img
        src="../../../../assets/wallet/page2/walletpage2roundimage.svg"
        class="round"
      />
      <div class="image2">
        <img src="../../../../assets/wallet/page2/cnrb.svg" alt="" />
      </div>
    </div>
  
  </div>

  
  
  <div class="card">
      <ion-card-header>
        <div class="parent">
          <div class="amounttosent">Amount to be sent</div>
        <div class="cost">₹100</div>
        <div class="amount">Charges (%5)</div>
        <div class="cost">₹ 05</div>
      </div>
      </ion-card-header>
      <img
        src="../../../../assets/wallet/page4/straight line.svg"
        class="stline"
      />
      <div class="child">
        <div class="totalpayable"> Total Payable </div>
        <div class="total">₹105</div>
      </div>
    </div>
 

  <ion-button
    routerLink="/fastagpage2"
    class="long-btn"
    shape="round"
    size="small"
    (click)="onClick($event)"
    >Proceed</ion-button
  >
</ion-content>
