<ion-content>
  <div class="pay1">
    <ion-grid>
      <ion-card-header>
        <ion-row class="row">
          <a routerLink="/paymenthistory">
            <img src="assets/back.png" alt="back_icon2" />
          </a>
          <span class="Transfer">Transfer Reciept</span>
        </ion-row>

        <ion-grid [fixed]="true">
          <ion-row>
            <div class="paym">
              <img src="../../../assets/pay1success.svg" class="pay1" />
              <img src="../../../assets/pay1.svg" class="pay" />
              <img src="../../../assets/payinfo.svg" class="payinfo" />
            </div>
          </ion-row>
        </ion-grid>
      </ion-card-header>
    </ion-grid>
  </div>
</ion-content>
