/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import '~@ionic/angular/css/display.css';

*{
    font-family: 'Montserrat', sans-serif;
}

.header_center{
    cursor: pointer;
    text-align: center;
    justify-content: center; 
    overflow-y: auto ;
    color:black;
    padding-top: 2vh;
    padding-bottom: 3vh;
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
     font-size: 3vw;
     font-weight: bold;
     justify-content: center;
  }
  .header2{
    cursor: pointer;
    // text-align: center;
    // justify-content: center; 
    overflow-y: auto ;
    color:black;
    padding-top: 2vh;
    padding-bottom: 3vh;
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
     font-size: 6vw;
     font-weight: bold;
    //  justify-content: center;
  }
.back_icon{
    width: 10vw;
    margin-top: 5vh;
}
.small-btn {
    width: 35vw;
    height: 10vw;
    --background: #09376E !important;
    justify-content: center;
    align-items: center;
    // box-shadow: -4px 4px 18px rgba(0, 0, 0, 0.09);
    text-transform: initial;
    --border-radius:  2vw;
    font-size: 2vh;
}
.long-btn{
    width: 100%;
    height: 6vh;
    margin-bottom: 20px;
    --background: #09376E !important;
    justify-content: center;
    align-items: center;    
    --border-radius:  2vw;
    font-size: 2.5vh;
    text-transform: initial;
    }

    .flex-center{
        //justify-content: center;
        align-items: center;    
       // height:100%;
        // margin-top:100px;
        // margin-left: 35px;
        // margin-right: 35px;
        // margin-top: 126px;
        margin-left: 2vw;
        margin-right: 4vw;
        // margin-top: 21%;
        margin-bottom: 0px;
    }
    .custom-input-field{
        background:#F7F8F9;
        width: 100%;
        border: 1px solid #E8ECF4;
        font-family: 'Montserrat', sans-serif;
        // font-family: 'Montserrat';   
        // margin-bottom: 20px;
        border-radius:2vw;
        // margin: 8px 7vw;
        color: #000;
        // padding: 8px 5px 8px 10px;
        font-size:4vw;
       // outline: none;
        height: 14vw;
        padding-left: 3vw;
        // &::placeholder{
        //     color: rgba(128, 128, 128, 0.842);
        // }
    }


    .header3{
        //font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 6.5vw;
        line-height: 130%;
        /* or 39px */    
        letter-spacing: -0.01em;    
        color: #161616;
    }
    .msg{
    //  font-weight: 500;
     font-size: 4vw;
     letter-spacing: 0.01em;
     font-family: "Montserrat", sans-serif;
    }
    .msg2{
        //  font-weight: 500;
         font-size: 4vw !important;
         letter-spacing: 0.01em;
         font-family: "Montserrat", sans-serif;
        }
        .btn-space{
            text-align: center;
            padding-top: 2vh;
        }
        .flex-center2{
            align-items: center;            
            margin-left: 3vw;
            margin-right: 3vw;
            margin-bottom: 0px;
        }    
        input:focus{
            outline:2px solid #35C2C1; ;     /* oranges! yey */
          }
    
    // .flex-center{  
    //     display: flex;  
    //    // height:100%;
    //    // padding-top:10px;
    // }

    ion-input{
       border-radius:8px;
        --background:#E8ECF4;
        }

        ion-item{
        // margin-top:20px;
        // --background:#F7F8F9;
        border: 1px solid #E8ECF4;
        border-radius: 20px;
        //width: 331px;
        // height: 56px !important;
    ion-label{
        color: #8391A1;
    }
}

text-danger{
    color: red;
    font-size: 4vw !important;
    padding-left:5vw;
    margin-top:1vw;
}