.Transfer {
  margin-left: 30px !important;
  margin-top: 3.9vh !important;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 22px !important;
  color: white;
  //   min-height: 100px;
}
img {
  margin-top: 3vh !important;
}
ion-content {
  --ion-background-color: #09376e;
}

ion-button {
  margin: -10px 30px 0px 40px;
}

// .part1{
// width: auto;
// text-align: center;
// // padding: 15px;

// max-width: 100%;

// }
// img{
//     max-width: 100%;
// height: auto;
// object-fit: cover;
// }
// .part2{
//     height: 120vh;
//     width: auto;

// }
.part2 {
  margin-left: 10px;
}
.part3 {
  position: relative;
  top: -30px;
  margin-top: -630px;
  margin-left: 100px;

}
.tsuccess {
  font-size: 20px;
  margin-left: 115px;
  margin-top: 80px;
  font-weight: bold;
  color: #09376e;
}
.successfully {
  padding-left: 50px;
  padding-right: 20px;
  font-size: 12px;
}
.successfully1 {
  padding-left: 50px;
  font-size: 12px;
  margin-top: -15px;
  margin-left: 130px;
}
.ttransfer {
  padding-left: 40px;
  font-size: 12px;
  font-size: 18px;
  margin-left: 100px;
  margin-top: 25px;
}
.custom-input-field {
  background-color: white;
  font-weight: bolder;
  text-align: center;
  font-size: 6vh;
  border-color: #d4d4d4;
  border: none;
  position: relative;
}

.inputbox {
  text-align: center;
  margin-top: 1.9vh;
  padding-left: 40px;
  padding-right: 40px;
  border: none;
  position: relative;

  ::placeholder {
    color: #09376e;
  }
}
ion-button {
  margin-left: 5vw;
  padding-left: 7vw;
  margin-top: 15px;
  padding-right: 15vw;
  display: flex;
  position: absolute;
}
// .long-btn{
//   width: 40vw;
//   margin-top: -4vh;
// }
