<ion-content>
  <div class="pay1">
    <ion-grid>
      <ion-card-header>
        <ion-row class="row">
          <a routerLink="/paymenthistory">
            <img src="assets/back.png" alt="back_icon2" />
          </a>
          <span class="Transfer">Transfer Reciept</span>
        </ion-row>
      </ion-card-header>
    </ion-grid>
  </div>
  <ion-row>
    <div class="parent">
      <div class="part1">
        <img
          class="part2"
          src="../../../../assets/wallet/tsuccess/blanks.svg"
        />
      </div>

      <div class="part3">
        <img
          src="../../../../assets/wallet/tsuccess/transactionsuccessfull.svg"
          alt=""
        />
      </div>
      <div class="tsuccess">Transfer Success</div>
      <p class="successfully">Your money has been successfully added to your</p>
      <p class="successfully1">Wallet</p>

      <div class="ttransfer">Total Transfer</div>
    </div>
  </ion-row>
  <div class="inputbox">
    <ion-col size="12">
      <input type="tel" class="custom-input-field" placeholder="₹130.00" />
    </ion-col>
  </div>

  <ion-button
    routerLink="/wallet/terror"
    class="long-btn"
    shape="round"
    size="small"
    (click)="onClick($event)"
    >Done</ion-button
  >
</ion-content>
